html,
body {
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", sans-serif;
}

header {
    background-color: #5b76ee;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

a {
    color: #5b76ee;
}

header a,
header a:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#nav {
    padding-top: 3px;
}

#nav a {
    margin-right: 15px;
}

#logo {
    width: 70px;
    margin-right: 0;
}

#title {
    margin-left: -7px;
}

#main {
    max-width: 950px;
    margin: 30px auto;
}

#main.blog {
    max-width: 700px;
    margin: 30px auto;
}

.index {
    position: relative;
}

#sidenav {
    position: fixed;
    width: 200px;
}

.index a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    border-bottom: 1px solid #ddd;
}

.index a:first-child {
    padding-top: 0;
}

p,
ul li {
    font-size: 18px;
}

.text-center h1 {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 32px;
    margin-top: 120px;
    margin-bottom: 70px;
}

section h1,
section h2,
section h3,
section h4 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 32px;
}

section h1,
section h2 {
    font-size: 1.6rem;
}

section {
    padding-bottom: 45px;
}

h2 {
    margin-top: 50px;
}

.body h3 {
    margin-top: 20px;
    margin-bottom: 0;
}

section h3 {
    font-size: 1.2rem;
}

section h5 {
    font-size: 1.2rem;
    color: #5b76ee;
}

code.language-yaml,
code.language-json {
    border-radius: 4px;
    padding: 20px !important;
}

section.post {
    padding-bottom: 20px;
}

.box {
    border: 1px solid #ddd;
    min-height: 150px;
    cursor: pointer;
}

.box:hover {
    background-color: #f8f8f8;
}

.box .intro {
    min-height: 150px;
}

.box .image {
    background-size: cover;
    background-position: center center;
    border-right: 1px solid #ddd;
}

.intro {
    padding: 20px;
}

.readmore {
    display: none;
    padding: 30px;
    border: 1px solid #ddd;
    border-top: 0;
}

@media only screen and (max-width: 1000px) {
    #main {
        width: 90%;
        max-width: 90%;
    }
    #sidenav {
        width: 100%;
        position: relative;
        padding-top: 0;
    }
}

@media only screen and (max-width: 750px) {
    #title {
        display: none;
    }
    section {
        padding-top: 25px;
    }
}